# TODO: fix this, so that streamlit takes the code on the fly
git+https://github.com/FloTeu/midjourney-prompt-generator.git@main
git+https://github.com/FloTeu/llm-few-shot-generator.git@main
langchain==0.0.174
streamlit==1.22.0
requests

# selenium
selenium
undetected-chromedriver
seleniumbase